@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F8FAFC;
    --foreground: #0F172A;
    --card: #FFFFFF;
    --card-foreground: #0F172A;
    --popover: #FFFFFF;
    --popover-foreground: #0F172A;
    --primary: #10B981;
    --primary-foreground: #FFFFFF;
    --secondary: #F1F5F9;
    --secondary-foreground: #0F172A;
    --muted: #F1F5F9;
    --muted-foreground: #64748B;
    --accent: #F1F5F9;
    --accent-foreground: #0F172A;
    --destructive: #EF4444;
    --destructive-foreground: #FFFFFF;
    --border: #F1F5F9;
    --input: #F1F5F9;
    --ring: #10B981;
    --radius: 0.5rem;
    --chart-1: #10B981;
    --chart-2: #F59E0B;
    --chart-3: #3B82F6;
    --chart-4: #F59E0B;
    --chart-5: #EF4444;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
